---
title: "Contribute"
---

<h1>Get Involved by Joining the Growing Tower Community</h1>

<div class="community section">
  <h2>In a Giving Mood? Contribute to the Project</h2>

  <img src="/images/community/give.png">

  <p>The Tower source is hosted on <a href="https://github.com/tower/tower/">Github</a>.
    To contribute patches, create a fork of the project on GitHub and submit a pull request.
    Please be sure to include unit tests and documentation for any new features you add.
    See the <a href="https://github.com/tower/tower/blob/master/CONTRIBUTING.md">full guidelines</a>
    for more information.</p>
</div>

<div class="community section bugs">
  <h2>Something Fishy? Report it to the Team</h2>

  <img src="/images/community/bug.png">

  <p>If you've found a bug or issue in Tower.js, please let us know. To file a bug, go to the
    <a href="https://github.com/tower/tower/issues">issue tracker</a> and create a new
    issue. Great bug reports include a clear description of what is not happening and what
    you expected to happen. Issues that include a failing test or a reduced test case
    created on <a href="http://jsfiddle.net">JSFiddle</a> or
    <a href="http://jsbin.com">JSBin</a> are much more likely to receive attention.
    See the <a href="https://github.com/tower/tower/blob/master/CONTRIBUTING.md">full guidelines</a>
    for more information.</p>

    <p>The source code for this website is also <a href="https://github.com/tower/towerSite">available on GitHub</a>.
       If you have found a typo or incorrect documentation, please file an issue on the GitHub project page,
       or even better, submit a pull request.</p>
</div>

<div class="community section">
  <h2>Stuck? Lost? Get Help from the Community</h2>

  <img src="/images/community/sos.png">

  <p><a href="http://stackoverflow.com/questions/tagged/tower">StackOverflow</a> is used to
  track questions. Just tag your question with <code>tower.js</code> or
    <a href="http://stackoverflow.com/questions/tagged/tower">search for questions with that tag</a>.
    Please check to see if your question has already been answered before asking a new one.</p>
</div>
